@font-face {
    font-family: "product_sans";
    src: url("./fonts/product_sans.woff2") format("woff2");
    font-weight: normal;
    font-size: normal;
    font-display: swap;
}

:root {
    --background : #16161a;
    --container-background : #242629;
    --body-background: #242629;
    --headline-color : #fffffe;
    --subtitle-color : #94a1b2;
    --paragraph-color : #94a1b2;
    --special-color : #7f5af0;
}

html 
{
    font-size: 62.5%;
}

*
{
    margin: 0;
    padding: 0;
    font-family: "product_sans";
}
body {
    background: var(--body-background);
    line-height: 1.5;
}

h1 {
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
h4 {
    font-size: 1.563rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

p {
    font-size: 1.563rem;
}

/* notfication component */

.notification-container {
    background: var(--background);
    padding: 1.6rem;
    margin: 1rem;
    border-radius: 0.6rem;
    position: relative;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}
.notify__img_container{
    width: 80px;
    height: 80px;
    position: relative;
}
.notify__img{
    width: 100%;
    margin: auto;
    border-radius: 50%;
}
.notify__title {
    color: var(--headline-color);
}
.notify__desc {
    color: var(--paragraph-color);
}
.notify__title , .notify__desc{
    padding: 0.4rem;
}
.notify__close {
    font-size: 2.6rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-1.2rem,1.2rem);
    color: var(--headline-color);
    cursor: pointer;
}

/* join-container */
.join-container{
    padding: 1.6rem;
}
.join__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin: 1.2em 0;
    background: var(--background);
    color: var(--headline-color);
    border-radius: 0.6rem;
    border-bottom: 0.2rem solid var(--subtitle-color);
    transition: 0.1s;
}

.join__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join__card:hover {
    border-bottom: 0.2rem solid var(--special-color);
}

.join__link {
    display: inline-block;
    font-size: 1.8em;
    text-decoration: none;
    background: var(--container-background);
    padding: 1.2rem;
    border-radius: 0.6rem;
    color: var(--paragraph-color);
    transition: 0.1s transform;
}

.join__link:active{
    transform: scale(0.9);
}

/* main-container */

.main-container {
    margin: 0.5rem;
    padding: 1.6rem;
    position: relative;
}

.main__title {
    color: var(--headline-color );
}

.main__subtitle {
    color: var(--subtitle-color);
    margin: 1rem 0;
}

/* usage-container */

.usage-container {
    font-size: 1.563rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.usage__content {
    background: var(--background);
    padding:1.2rem;
    border-radius: 0.6rem;
    margin: 0.2rem 0.6rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.usage__command {
    display: inline-block;
    background:var(--special-color);
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    color: var(--headline-color);
}

.usage__options {
    margin-left: 0.8rem;
    font-size: 1.563rem;
}

.usage__desc , .usage__options {
    color: var(--paragraph-color);
}

.usage__desc {
    margin: 0.8rem 0;
}

/* example -container */
.example-container {
    /* margin: 0.5rem; */
    padding: 1.6rem;
}

.example__title {
    color: var(--headline-color );
}

.example__subtitle {
    color: var(--subtitle-color);
    margin: 1.2rem 0;
}

/* ion-icon */

ion-icon {
    display: inline-block;
    margin-left: 0.8rem;
}
.telegram-icon {
    transform: rotate(-45deg);
}


/* responsive */

@media screen and (max-width:600px) {
    .usage-container {
        grid-template-columns: 1fr;
    }
    .usage__content {
        margin: 0.8rem 0.2rem;
    }
    .notification-container {
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }
    .join__card{
        flex-direction: column;
    }
    .join__link {
        display: block;
        margin: 1.2rem 0;
        width: 80%;
        text-align: center;
    }
}